@import url('https://fonts.googleapis.com/css2?family=Kadwa:wght@400;700&family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

.search-container {
    display: flex;
    align-items: center;
    margin-top: 3%;
}

#search-input {
    padding: 10px;
    width: 280px;
    font-size: 16px;
    border: 2px solid #000000;
    border-radius: 30px;
    font-family: "Kadwa", serif;
}

.background {
    margin-left: 50%;
}

.text1 {
    display: flex;
    align-items: center;
    margin-top: 20px;
    position: absolute;
    margin-left: 10px;
    text-shadow: 5px 5px 8px rgba(9, 9, 9, 0.5);
}

.text1 h2 {
    color: #000000;
    position: absolute;
    margin-top: -700px;
    width: 450px;
    font-family: "Kadwa", serif;
}

.button {
    margin-top: -230px;
    margin-left: 30px;
}

.explore-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Kadwa", serif;
}

.explore-button:hover {
    background-color: #721302;
}
.batch-button{
    margin-left: 80%;
    margin-top: -4%;
}
.batch {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    
}

.batch:hover {
    background-color: #45a049; /* Darker green */
}


.Sentence, #search-input, .button, .boxes {
    font-family: "Kadwa", serif;
}

