@import url('https://fonts.googleapis.com/css2?family=Kadwa:wght@400;700&family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

.search-container {
    display: flex;
    align-items: center;
}

#search-input {
    padding: 10px;
    width: 280px;
    font-size: 16px;
    border: 2px solid #000000;
    border-radius: 30px;
    margin-top: 3%;
    margin-left: 40%;
    font-family: "Kadwa", serif;
}

.background {
    margin-left: 50%;
}

.text1 {
    display: flex;
    align-items: center;
    margin-top: 20px;
    position: absolute;
    margin-left: 10px;
    text-shadow: 5px 5px 8px rgba(9, 9, 9, 0.5);
}

.text1 h2 {
    color: #000000;
    position: absolute;
    margin-top: -700px;
    width: 450px;
    font-family: "Kadwa", serif;
}

.button {
    margin-top: -230px;
    margin-left: 30px;
}


.explore-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Kadwa", serif;
    
}

.explore-button:hover {
    background-color: #721302;
}

.Sentence{
    font-family: "Kadwa", serif;
    margin-top: 15%;
}
.batch-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* width: 30%;
    height: 30%; */
}

.boxes {
    background-color: rgba(205, 166, 251, 1);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 300px;  */
    margin-bottom: 40px;
    width: 20%;
    
    
    
}
.boxes:hover{
    background-color: rgb(194, 146, 249);
}

